<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_validate_only_rail.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user_validate_only_rail.password %>
</p>

<%= link_to 'Edit', edit_user_validate_only_rail_path(@user_validate_only_rail) %> |
<%= link_to 'Back', user_validate_only_rails_path %>
