<p id="notice"><%= notice %></p>

<h1>Listing User Validate Only Dbs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_validate_only_dbs.each do |user_validate_only_db| %>
      <tr>
        <td><%= user_validate_only_db.name %></td>
        <td><%= user_validate_only_db.password %></td>
        <td><%= link_to 'Show', user_validate_only_db %></td>
        <td><%= link_to 'Edit', edit_user_validate_only_db_path(user_validate_only_db) %></td>
        <td><%= link_to 'Destroy', user_validate_only_db, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User validate only db', new_user_validate_only_db_path %>
